@model Parciais.WEB.Models.Status
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-5 div-dashboard-times-mais-escalados">
                    <h3 class="titulo-principal">TIMES ESCALADOS</h3>
                    <h4 class="sub-titulo-principal">500 MI</h4>
                </div>
                <div class="col-5 div-dashboard-jogador-mais-escalado">
                    <div class="div-dashboard-foto-jogador-mais-escalado">
                        <img src="https://s.glbimg.com/es/sde/f/2021/07/09/f485b236f55b942d9ffa6588b0d47e8f_80x80.png" class="img-dashboard-jogador-mais-escalado" />
                    </div>
                    <div style="display: flex; align-items: center">
                        <div style="display: flex; flex-direction: column; align-items: center">
                            <h3 class="titulo-principal titulo-principal-jogador-mais-escalado">Jogador mais escalado</h3>
                            <h4 class="sub-titulo-principal titulo-principal-nome-mais-escalado">GILBERTO</h4>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-11 div-dashboard-jogadores-mais-escalados ">

            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12 div-jogos-da-rodada">
              
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div>
        <p>@Model.FechamentoMercado</p>
    </div>
</div>
